[2017-03-16 09:50] Camtarrr opened #1 "Page d'aide jimconvert() terminée"
La rédaction de la page d'aide de la fonction jimconvert() en français est terminée.
Pouvez vous m'indiquer les points à changer avant la traduction en anglais ?

[Page d'aide jimconvert()](https://github.com/jimlab/jimlab/blob/master/help/fr_FR/jimconvert.xml)

[2017-03-16 09:55] Camtarrr opened #2 "Page d'aide jimhistEqual() terminée"
La rédaction de la page d'aide de la fonction jimhistEqual() en français est terminée.
Pouvez vous m'indiquer les points à changer avant la traduction en anglais ?

[Page d'aide jimhistEqual()](https://github.com/jimlab/jimlab/blob/master/help/fr_FR/jimhistEqual.xml)

[2017-03-16 10:05] JimSenee opened #3 "Erreur dans les tests avec la fonction Matplot()"
DESCRIPTION DE L'ERREUR :
-----------------------------

Version Scilab : 5.5.2
Le fichier de test de `jimdisp()` renvoie False. Pourtant, les lignes une à une fonctionnent. Comme indiqué par Scilab, j'ai lancé la commande `exec("H:\PROJETS\4A\jimlab\jimlab-master\tests\unit_tests\jimdisp.tst");` et tout fonctionne bien.

LOG DE L'ERREUR :
--------------------
[code]

COMMENT REPRODUIRE L'ERREUR :

[2017-03-16 10:57] Camtarrr opened #4 "Matrice d'entiers non supportée par la fonction jiminvert()"
DESCRIPTION DE L'ERREUR :
-----------------------------

Version Scilab : 5.5.2
La fonction jiminvert() n'accepte pas ma matrice codée en uint8.

LOG DE L'ERREUR :
--------------------
[code]

COMMENT REPRODUIRE L'ERREUR :
--------------------------------------
`chdir('H:\PROJETS\4A\jimlab\jimlab-master')`
`exec('builder.sce')`
`exec('loader.sce')`
`mat = uint8([155 155; 255 255]);`
`inv = jiminve

[2017-03-16 11:51] sgougeon commented on #3
Le fait que l'exec() direct se passe bien nous suffit pour le moment.
Sans succès pour le moment, je continue à rechercher l'origine de ce problème.
Je remarque que le rapport d'erreur donné par test_run() est peu informatif. En particulier, la ligne du test à laquelle le problème apparait n'est pas indiquée. C'est assurément une insuffisance de test_run() en 5.5.2. test_run() a beaucoup été améli

[2017-03-16 12:13] sgougeon commented on #3
En effet : en Scilab 6, "test_run graphics Matplot show_error" échoue avec une erreur à explorer.
Plusieurs rapport de bugs ont déjà été postés sur Bugzilla concernant Matplot : voir par exemple
uman Matplot|Matplot1 wb
et http://mailinglists.scilab.org/Scilab-users-Native-managed-Hypermatrices-affect-the-Matplot-functionality-td4035788.html
Solutions intégrées ce matin :
https://codereview.scilab

[2017-03-16 18:45] sgougeon commented on #4
Je n'obtiens pas le même message d'erreur :
[code]

[2017-03-16 18:54] sgougeon commented on #4
OK : après mise à jour sur le H:\ avec la dernière version du .sci, je reproduis bien l'erreur indiquée.

[2017-03-16 19:59] sgougeon commented on #4
L'origine de cette erreur est évoquée dans une des remarques du PDF commenté joint.
SVP traiter ces différentes remarques.
[jiminvert.sci_1703162000.pdf](https://github.com/jimlab/jimlab/files/848880/jiminvert.sci_1703162000.pdf)

[2017-03-20 10:17] JimAmel opened #5 "démarche jimbur;"
//Copyright (C) 2017 - ENSIM, Université du Maine - Alix Melaine Mnoubue
//This file must be used under the terms of the CeCILL.
//This source file is licensed as described in the file COPYING, which
//you should have received as part of this distribution.  The terms
//are also available at
//http://www.cecill.info/licences/Licence_CeCILL_V2.1-fr.txt

function [IMB]=testblur(M,sigma,rayon)

if(typ

[2017-03-22 09:42] nicojim commented on #4
La plupart des remarques ont été traitées. Je propose de discuter jeudi 23/04 en équipe le développement de la fonction de conversion des différents types vers un objet jimage puisque qu'elle concerne plusieurs fonction.

[2017-03-22 09:48] nicojim opened #6 "Test des variables d'entrés de jimwrite"
Bonjour, je souhaiterais avoir vos remarques concernant les tests effectués sur les variables d'entrés de jimwrite. Est-il judicieux d'affecter des valeurs par défaut aux variable en cas de mauvaise saisie?

[2017-03-22 09:49] nicojim commented on #6
Cas du chemin du répertoire d'entré :

[2017-03-22 10:01] nicojim commented on #6
Cas du type MIME

`function jimwrite( jimage, imageMat, imagePath, typeMIME, Name, Encoding)`

[code]

[2017-03-22 10:08] nicojim opened #7 "age d'aide française de jimwrite terminée"
La page d'aide de jimwrite est rédigé en français. Pouvez vous me donner vos remarques avant la traduction?

[Page d'aide de jimwrite](https://github.com/jimlab/jimlab/blob/master/help/fr_FR/jimwrite.xml)

[2017-03-23 14:20] Camtarrr opened #8 "Page d'aide en français de jimread() terminée"
La rédaction de la page d'aide de la fonction jimread() en français est terminée.
Pouvez vous m'indiquer les points à changer avant la traduction en anglais ?

[Page d'aide de jimread()](https://github.com/jimlab/jimlab/blob/master/help/fr_FR/jimread.xml)

[2017-03-23 16:50] sgougeon commented on #8
Mes remarques concernant les contenus sont jointes sur le PDF issu de la sortie HTML.
La partie technique XML est correcte.
[jimread_170323_REMS.pdf](https://github.com/jimlab/jimlab/files/865492/jimread_170323_REMS.pdf)

[2017-03-23 17:39] sgougeon commented on #5
Ce code a été commenté et les questions associées ont été discutées ce jeudi en réunion de travail

[2017-03-23 17:39] #5 closed, assigned to sgougeon

[2017-03-23 19:47] sgougeon commented on #3
Le master de la branche 6.0 daté du 22/3 à 6h36 et intégrant les 2 correctifs de Matplot évoqués antérieurement est installé sur le H:\ et peut être lancé avec le raccourci "H:\DISTRI_DOC_ETU\APPLI_RESEAU\Scilab\Scilab 6.0.0 master"
Avec cette version, les instructions suivantes donnent une erreur, mais différente de la précédente :
[code]

[code]
L'exécution directe du test donne maintenant aussi

[2017-03-27 16:25] JimAmel opened #9 "Jimsmooth"
créer les masques gaussiens sur scilab sans utiliser les boucles

[2017-03-28 10:27] Camtarrr commented on #8
J'ai actualisé la page d'aide de la fonction jimread() en prenant en compte vos commentaires. Serait-il possible d'avoir la validation pour commencer la traduction ou des nouveaux commentaires si il y a des points à améliorer ?

[Page d'aide actualisée](https://github.com/jimlab/jimlab/blob/master/help/fr_FR/jimread.xml)

[2017-03-29 12:04] sgougeon commented on #9
Pour la prochaine fois : SVP Attribuer aux tickets que vous ouvrez un intitulé plus précis / évocateur.
Cette exigence n'est pas un détail.
Pour la création d'un masque gaussien, vous pouvez vous inspirer du code suivant :
[code]

[2017-03-30 10:09] Camtarrr opened #10 "Page d'aide en français jimage_properties"
La première version de la page d'aide concernant l'objet jimage est terminée.
Serait-il possible d'avoir des retours avant la traduction?

[Page d'aide jimage_properties](https://github.com/jimlab/jimlab/blob/master/help/fr_FR/jimage_properties.xml)

[2017-03-30 10:17] JimSenee commented on #3
L'erreur vient effectivement de l'appel du handle dans la sous-fonction jimreset().
Cet appel sert à réinitialiser la chaîne de caractères "ax.title.text". Cela peut être fait lors de l'appel de la sous-fonction jimdisp_mat(), ce qui permet de ne pas rappeler le handle dans jimreset(), et l'erreur de non validité du handle disparaît, tout en arrivant au résultat escompté.

Cependant, une erreur di

[2017-04-06 10:27] sgougeon commented on #6
J'ai en premier lieu lu et commenté la page d'aide de jimwrite(), version la plus récente sur GitHub.
Le PDF commenté est joint. N'hésitez pas à me contacter ou si besoin venir me voir pour y retravailler.
[jimwrite_170406.1040_REM.pdf](https://github.com/jimlab/jimlab/files/902247/jimwrite_170406.1040_REM.pdf)

[2017-04-06 10:34] sgougeon commented on #3
Le problème de mémoire insuffisante pour grayplot() a fait l'objet du rapport de bug
http://bugzilla.scilab.org/8747 dés 2011, et n'a toujours pas été résolu.
Je vais essayer de réactiver la résolution de ce problème au niveau central.

[2017-04-06 11:05] sgougeon commented on #7
La page est complètement commentée ici :
https://github.com/jimlab/jimlab/issues/6/#issuecomment-292133044
Le code nécessite d'être retravaillé pour traiter notamment la question des arguments d'entrée faisant l'objet du ticket #6. La page d'aide en sera donc modifiée.
Pour la partie Description : éviter de répéter ce qui est écrit de manière plus ciblée dans la description des Arguments. Je prèfè

[2017-04-18 10:15] sgougeon commented on #8
La version française est relue ci-après. Vous pourrez entreprendre la traduction en anglais directement après la prise en compte des dernières remarques, sans re-soumission ici.
[jimread_help_20170416_REM.pdf](https://github.com/jimlab/jimlab/files/928540/jimread_help_20170416_REM.pdf)

[2017-04-18 10:22] sgougeon commented on #2
Cette version accompagnée de mes commentaires est jointe.
[jimhistEqual_help_20170416_REM.pdf](https://github.com/jimlab/jimlab/files/928582/jimhistEqual_help_20170416_REM.pdf)

[2017-04-18 11:29] #8 closed, assigned to Camtarrr

[2017-04-18 11:46] sgougeon commented on #10
La version courante en français de jimage_properties accompagnée de mes commentaires est jointe.
À mon sens (voir les commentaires), le code doit être retouché en particulier
* pour renommer .format en .mime
* pour enlever le . initial dans les valeurs possibles de .mime : ".png" => "png"
Par ailleurs, les fonctions doivent être robustes concernant la casse des valeurs : "png" comme "PNG" comme "P

[2017-04-18 14:54] sgougeon opened #11 "GitHub : liens framaboard bimestriels : contenus supprimés"
Dans l'onglet jimlab => Projects, les liens framaboard bimestriels sont caduques :
* étude des différents formats d'images supportés par java : https://bimestriel.framapad.org/p/Formats_images_java
* compte-rendus de réunions hebdomadaires : https://bimestriel.framapad.org/p/Compte-rendus_Jimlab

En restaurer le contenu ou les supprimer.
Je laisse le pilote de projet attribuer ce travail à un memb

[2017-04-18 15:25] sgougeon opened #12 "jimroi() : ajustements des syntaxes et noms d'arguments"
La définition initiale de jimroi() mérite quelques simplifications :
Elle est actuellement définie par (au plus)
[imroi, transparencyColor, polygon, offset] = jimroi(image, polygon, localization, transparencyColor, reducedSize)

**Modifications** :
-  "imroi" devient "mask" : matrice ou hypermatrice booléenne : %T à l'intérieur du polygone, %F à l'extérieur
   Cela permettra un emploi bien plus so

[2017-04-18 15:50] sgougeon commented on #12
**Autre modification** :
Je propose finalement d'abandonner complètement le paramètre _transparencyColor_ pour jimroi().
En effet, la recherche d'une couleur adéquate pour encoder la transparence est une fonctionnalité en soi, très différente du rôle de jimroi(). Elle mérite une fonction publique à part.
Pour jimroi() il nous reste donc :

`[mask, polygon, ijTopLeft] = jimroi(image, polygon, crop2

[2017-04-18 16:15] sgougeon opened #13 "Color = jimGetUnusedColor(Image, targetColor) : nouvelle fonction publique"
Le travail de recherche d'une couleur inutilisée (ou la moins utilisée) actuellement intégré à la fonction jimroi() doit pouvoir être utilisé à part de manière publique. En effet, cela peut être utile à différentes occasions, pas uniquement pour différentier graphiquement les parties intérieures et extérieures d'une zone.

Je propose donc que les développements effectués dans jimroi() autour de ce

[2017-04-18 18:05] sgougeon commented on #4
Si ce ticket est résolu, merci de bien vouloir le fermer. Sinon SVP l'actualiser.

[2017-04-20 09:57] #13 closed, assigned to Camtarrr

[2017-04-20 10:23] Camtarrr commented on #11
Les compte-rendus de réunions hebdomadaires sont toujours disponibles.
Pour le premier lien, toutes les informations avaient été reprises dans le rapport de soutenance intermédiaire. Nous allons le supprimer.

[2017-04-20 10:23] #11 closed, assigned to nobody

[2017-04-20 10:39] JimAmel opened #14 "page d'aide FR Jimsmooth"
<?xml version="1.0" encoding="UTF-8"?>

<refentry xmlns="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink"
		xmlns:svg="http://www.w3.org/2000/svg" xmlns:mml="http://www.w3.org/1998/Math/MathML"
		xmlns:db="http://docbook.org/ns/docbook" xmlns:scilab="http://www.scilab.org"
		xml:lang="fr" xml:id="jimsmooth">
    <refnamediv>
        <refname>jimsmooth</refname>
        <re

[2017-04-20 15:57] sgougeon commented on #14
Il était inutile de poster une version texte du fichier XML, juste de donner le lien vers le fichier disponible sur GitHub, et indiquer le travail demandé.
J'ai compilé la page d'aide, mais la macro jimsmooth.sci n'est toujours pas disponible, ni sur GitHub ni sur le H:\. Il m'est donc impossible de tester l'exemple. SVP la mettre à disposition.
J'engage cependant sans attendre la revue de la page

[2017-04-20 18:28] sgougeon commented on #14
Vous trouverez ci-joint la version fr_FR initiale de la page de jimsmooth(), accompagnée de mes commentaires.
S'il existe déjà, le code Scilab devra être ajusté : voir les commentaires concernant les arguments d'entrée.
[jimsmooth_help_170420_REMS.pdf](https://github.com/jimlab/jimlab/files/945104/jimsmooth_help_170420_REMS.pdf)

[2017-04-21 06:28] sgougeon commented on #1
La version initiale de la page jimconvert() en fr_FR est commentée dans le fichier joint.
[jimconvert_help_170420_REMS.pdf](https://github.com/jimlab/jimlab/files/946150/jimconvert_help_170420_REMS.pdf)

[2017-04-27 10:27] Camtarrr opened #15 "jimconvert() : multiplication d'une matrice par une hypermatrice"
Bonjour,
Pour la fonction jimconvert(), j'aimerais obtenir une hypermatrice avec des 0 lorsque l'image est opaque et la couleur de transparence lorsque l'image n'est pas opaque. J'ai essayé avec le code suivant (et d'autres) :
[code]
transparencyColor est une hypermatrice avec un élément sur chaque couche et transparency une matrice.
J'obtiens le message d'erreur suivant :
[code]

Je suppose qu'il

[2017-04-27 10:42] Camtarrr commented on #15
Finalement le code suivant fonctionne mais il est un peut lourd.
[code]
S'il existe une meilleure solution, dites moi. Sinon vous pouvez fermer le ticket.

[2017-04-27 12:17] JimAmel opened #16 "Vérification démarche et test page d'aide Jimsmooth"
https://github.com/jimlab/jimlab/blob/master/macros/jimsmooth.sci

[2017-04-27 13:45] sgougeon commented on #15
Vous pouvez utiliser directement le produit de kronecker. Exemples :
[code]
Résultat :
[code]

[2017-04-27 15:11] Camtarrr commented on #15
J'ai essayé avec le produit de kronecker. J'obtiens l'erreur suivante sur la console.
La seconde syntaxe `kron(A, B)` donne le même résultat. La documentation de la fonction dit "Cependant le produit de Kronecker n'est pas défini entre une matrice creuse et une hypermatrice.". Le fait que ma matrice `transparency` contienne beaucoup de 0 est peut être à l'origine de l'erreur.

[code]

[2017-04-27 15:26] sgougeon commented on #15
OK : ça fonctionne sous 6.0, mais pas sous 5.5.
Du reste, sous 6.0, le résultat est de type décimal au lieu d'être du type uint8. C'est une anomalie. Je verrai ça à part pour SCilab central.
Une syntaxe valable en 5 comme en 6 est
`transparencyMat = uint8(transparency*1  .*. transparencyColor)`
Celle-ci a en outre le mérite d'avoir un résultat en uint8

[2017-04-27 15:52] Camtarrr commented on #15
J'obtiens l'image suivante en sortie lorsque j'utilise le produit de Kronecker

![logoensimkron](https://cloud.githubusercontent.com/assets/24584359/25491994/f137b2f8-2b71-11e7-80e3-052a0e186591.png)

Je laisse donc la syntaxe de départ qui pourra être modifiée en fonction du temps restant à la fin du projet.
Merci !

[2017-04-27 15:52] #15 closed, assigned to Camtarrr

[2017-04-27 16:21] Camtarrr opened #17 "tests unitaires jimconvert()"
J'ai un soucis avec le test unitaire concernant le deuxième argument de jimconvert(). Lorsque je lance le code suivant :
[code]
J'obtiens cette erreur :
`assert_checkerror: Assertion failed: expected error message = "jimconvert: Argument #2: rgb or gray expected." while computed error message = "Nombre erroné d'arguments d'entrée.".`

Quand je lance la ligne de code testée dans le assert_checkerro

[2017-04-27 17:34] Camtarrr opened #18 "Relecture page d'aide jimread() en anglais"
J'ai fini de traduire ma page d'aide. Est ce que tu pourrais jeter un coup d’œil pour voir si il n'y a pas de faute d'anglais ?

[Page d'aide](https://github.com/jimlab/jimlab/blob/master/help/en_US/jimread.xml )

[2017-04-27 19:10] sgougeon commented on #17
Je suis très étonné que les appels de assert_checkerror() tels que dans
[code]
ne donnent pas systématiquement une erreur. Cette syntaxe semble parfois possible, mais l'aide à son propos me semble tellement confuse que je ne suis pas certain que cela fasse ce que cela devrait.
Une manière beaucoup plus directe consiste à générer le vrai message d'erreur et à le passer à assert_checkerror() :
[code

[2017-04-28 17:53] sgougeon commented on #15
Pourriez-vous SVP m'indiquer les lignes de codes appelées qui produisent cet affichage ?
Merci

[2017-04-28 21:28] Camtarrr commented on #15
[code]
Sur Scilab 6.0.0, l'image convertie est la bonne. Sur Scilab 5.5.2, la matrice transparencyMat est fausse ( plusieurs coefficients différents sur chaque couche) et l'image de sorte est celle postée plus haut.

[2017-04-29 06:45] #9 closed, assigned to JimAmel

[2017-05-03 06:56] JimSenee commented on #18
**Section Arguments :**

Sous l’item imagePath : il manque un bout de phrase si on se réfère à la version en français.
Il faudrait écrire ‘The different MIME types handled are png, bmp…’.
Petite faute de frappe : Alpha channel (toujours à la même ligne 35) s’écrit de la même façon qu’en français.

**Section Description :**

Rien à redire à part quelques fautes de frappes :
integers (ligne 60)
or (

[2017-05-03 17:26] #18 closed, assigned to Camtarrr

[2017-05-04 08:44] Camtarrr opened #19 "Utilisation de la balise <scilab:image>"
Lorsque j'utilise des fonctions du module jimlab dans la balise <scilab:image>, elles ne sont pas reconnues et cela bloque le chargement du module. J'obtenais au début l'erreur suivante :
`Variable non définie : jimlabPath`
J'ai donc remplacé jimlabPath("/") par get_absolute_file_path("builder.sce") dans la balise <scilab:image> mais le même problème intervient avec l'appel de la fonction jimread(

[2017-05-04 16:06] Camtarrr opened #20 "jimGetUnusedColor() : fonctionnelle mais pas optimale"
Bonjour,
j'ai un peu avancé sur la fonction jimGetUnusedColor(). Elle est fonctionnelle mais ne prend pas en compte la distance entre la couleur cible et les couleurs non utilisées comme définie pendant la réunion du 20/04 ([à partir de la ligne 327](https://bimestriel.framapad.org/p/Compte-rendus_Jimlab)).

Je n'y arrivais pas donc j'ai converti chaque couleur de l'image en uint32 et comptabilisé

[2017-05-07 14:02] sgougeon commented on #19
Merci de me bien vouloir poster soit un lien vers un fichier d'aide modifié qui vous pose problème, soit directement ledit fichier en question. Je n'en ai pas trouvé dans ~/help sur GitHub

[2017-05-07 15:48] Camtarrr commented on #19
[page d'aide de la fonctcion jimconvert()](https://github.com/jimlab/jimlab/blob/master/help/fr_FR/jimconvert.xml)

[2017-05-07 22:16] sgougeon commented on #19
Il faut charger le module (jimlablib) avant de le recompiler.
Par ailleurs, j'observe sur Git que en_US/jimconvert.xml n'est pas synchronisé avec fr_FR, notamment n'inclut pas les balises <scilab:image>. Ca peut poser problème.
Après avoir fait cela, jimlabPath() ne pose plus de problème, mais une erreur due à jimconvert() apparait.
L'examen rapide du code de jimconvert() met en évidence des probl

[2017-05-07 22:41] sgougeon commented on #19
J'ajoute que dans jimconvert.sci, de très nombreux ".." ne sont pas justifiés et diminuent la lisibilité du code.

[2017-05-08 15:57] Camtarrr commented on #19
J'ai mis à jour la fonction jimconvert() en prenant compte de vos remarques. Elle n'est pas encore sur le git car j'ai remarqué qu'il y avait des modifications à effectuer concernant la couleur de transparence. Je vous informerais dès qu'elle sera à jour sur le git.
Il reste quand même un problème que je n'arrive pas à résoudre. Lorsque j'affiche la page d'aide de jimconvert, il manque la dernière

[2017-05-08 16:54] Camtarrr commented on #19
La nouvelle version de jimconvert() est sur le git

[2017-05-09 06:48] #17 closed, assigned to Camtarrr

[2017-05-10 16:29] Camtarrr commented on #1
La version corrigée de la page d'aide de jimconvert() est disponible sur le git.
[Page d'aide actualisée](https://github.com/jimlab/jimlab/blob/master/help/fr_FR/jimconvert.xml)
Il reste seulement le problème de l'image à régler mais il fait l'objet d'un autre ticket. Il n'empêche pas la traduction de la page.

[2017-05-10 17:55] sgougeon commented on #1
Merci. Les éléments nouvellement décrits m'ont invité à de nouvelles remarques consignées ci-joint.
Après cela, vous pourrez entreprendre la traduction en anglais sans resoumettre la version française.
[jimconvert_help_20170510_REMS.pdf](https://github.com/jimlab/jimlab/files/990753/jimconvert_help_20170510_REMS.pdf)

[2017-05-10 18:04] sgougeon commented on #19
Le subplot manquant lors de l'exportation via le compilateur de pages est un bug de Scilab.
J'en prends note et le déclarerai sur bugzilla plus tard.
Il est assez sérieux, car il bloque l'exportation de tous les éléments graphiques suivants. En effet, si dans l'exemple de jimconvert() on commence par la partie subplot(2,2,4), puis les 3 autres, tout devient blanc.
Pourtant, xs2png() -- dont on pou

[2017-05-10 18:04] #19 closed, assigned to sgougeon

[2017-05-10 20:55] sgougeon commented on #14
Suite à mes remarques, la page d'aide en français n'a pas été actualisée.
SVP y remédier, ou justifier la cloture de ce ticket.

[2017-05-11 07:10] JimSenee opened #21 "Relecture page d'aide en anglais : jimdisp()"
La page d'aide en anglais pour la fonction d'affichage jimdisp() est finalisée.
Peux-tu la relire ?
Merci !

[Page d'aide jimdisp() (anglais)](https://github.com/jimlab/jimlab/blob/master/help/en_US/jimdisp.xml)

[2017-05-11 07:57] Camtarrr commented on #21
"A matrix or hypermatrix", j'aurais mis "a hypermatrix".
L'argument "data" devrait être "image" pour correspondre avec les syntaxes.
Le champs format devient type MIME.
Dans le premier exemple, il y a un séparateur en trop entre jimlabPath() et les reste de chemin.
Dans l'historique : Initial publication of Jimlab module.
C'est tout !

[2017-05-11 08:14] #6 closed, assigned to nicojim

[2017-05-11 08:19] Camtarrr commented on #1
L'argument `colormap` est obligatoire dans le cas ou l'image est indexée, sinon nous ne pouvons pas savoir si il s'agit d'une matrice d'index ou d'une matrice d'intensités.

[2017-05-11 08:47] sgougeon commented on #1
OK. Dans ce cas, serait-il possible d'autoriser la fourniture d'un identifiant de figure tel que gcf(), en alternative à une color_map, et le cas échéant, de lire -- disons -- colormap = gcf().color_map en interne ?
Sinon, à minima, il faudrait ajouter un exemple avec colormap. Exemple :
[code]
Pb: cet exemple provoque une erreur (d'où l'utilité d'un test unitaire)
[code]

[2017-05-11 08:50] #10 closed, assigned to JimSenee

[2017-05-11 08:57] sgougeon commented on #1
Abandonner cette idée. Il y a actuellement d'autres priorités, en particulier corriger l'erreur relevée avec la syntaxe déjà disponible.

[2017-05-11 09:01] JimAmel commented on #14
le lien vers la page d aide jimsmooth:
https://github.com/jimlab/jimlab/blob/master/help/fr_FR/jimsmooth.xml

[2017-05-11 09:09] #21 closed, assigned to JimSenee

[2017-05-11 09:13] nicojim opened #22 "Problème de compilation page d'aide jimwrite"
La page d'aide de jimwrite à été modifier mais elle refuse actuellement de ce compiler. Pourtant, ni le vérificateur de note pad ++, ni la fonctions xmltohtml ne renvois d'erreur.
Le code de la page d'aide ne semble pas contenir d'erreur mais la builder ne crée pas le fichier html associer à jimwrite.xml.

Compilation avec xmltohtml :

--> directory = '/home/nicolas/Documents/Scilab/jimlab-master/

[2017-05-11 09:15] sgougeon commented on #1
Toutes les matrices d'intensité ne sont-elles pas attendues en entiers encodés ? En fait, l'aide est actuellement ambigüe, car elle ne fait pas explicitement référence aux types uint# ou int#.
Par exemple :

S'agit-il de

ou peut-on fournir des entiers encodés _en décimaux_ mais <= 2^32 - 1 ?

[2017-05-11 09:21] Camtarrr commented on #1
La majorité des problèmes relevés vient de la fonction jimstandard() dont les tests unitaires n'ont pas encore été écrits.

[2017-05-11 09:22] sgougeon commented on #22
Avant que je regarde : le compilateur des pages affiche la plupart des erreurs de compilation dans la "consolebox" => ouvrir la consolebox:
`consolebox on`  // dans la console
Puis compiler. Lorsqu'une erreur de compilation a lieu, il est assez fréquent qu'un des flux entrant (lecture du xml) ou sortant (écriture du HTML) ne soit pas fermé proprement, ce qui peut laisser le fichier concerné verrou

[2017-05-11 09:37] sgougeon commented on #14
Elle provoque des erreurs de compilation. Celles-ci sont affichées par le compilateur dans la "consolebox". Pour afficher cette console spéciale, entrer dans la console :
`consolebox on`
Une fenêtre (noire) associée à la console normale est alors disponible. Les erreurs de compilation de l'aide y sont indiquées.

[2017-05-11 09:51] JimAmel commented on #14
oui je l'ai modifié Monsieur

[2017-05-11 10:10] nicojim commented on #22
Oui merci le problème est résolue

[2017-05-11 10:10] #22 closed, assigned to sgougeon

[2017-05-11 10:16] nicojim opened #23 "Page d'aide jiminvert"
La page d'aide de jiminvert est terminer et est prête à être traduite. J'attends vos remarques.

[2017-05-11 10:54] sgougeon commented on #14
Vu. Il y a encore du travail : voir mes nouvelles remarques dans le fichier joint.
Lorsque vous ne tenez pas compte de remarques importantes, merci de justifier.
=> [jimsmooth_help_170511_REMS.pdf](https://github.com/jimlab/jimlab/files/992740/jimsmooth_help_170511_REMS.pdf)

[2017-05-11 17:01] Camtarrr commented on #1
[code]
Les syntaxes étaient mal rédigées, je les ai modifiées. Le deuxième argument attendu est la couleur de transparence, la syntaxe doit donc être

`Mgray = jimconvert(M, "gray", , f.color_map);`

Avec cette syntaxe, il n'y a plus d'erreur.

[2017-05-11 17:03] Camtarrr commented on #1
J'essaierai d'implémenter cela dans la fonction jimstandard() dès que les pages d'aide en français et en anglais de jimconvert() sont finalisées (d'ici ce soir normalement)

[2017-05-11 17:53] Camtarrr commented on #1
L'argument colormap peut désormais être un identifiant de figure.

[2017-05-11 19:22] #1 closed, assigned to sgougeon

[2017-05-17 09:02] sgougeon commented on #23
SVP vérifier a minima avant de poster que les exemples fonctionnent correctement.
Mes remarques sont jointes au PDF ci-dessous.
[jiminvert_help_170511_REMS.pdf](https://github.com/jimlab/jimlab/files/1007112/jiminvert_help_170511_REMS.pdf)

[2017-05-17 09:52] sgougeon commented on #4
La remarque figurant en ligne 22 dans le dernier PDF commenté posté n'a pas été traitée.
jiminvert() ne peut donc toujours pas traiter les matrices "simples", contrairement à ce que prétend sa page d'aide (et le cahier des charges).

[2017-05-17 10:01] sgougeon commented on #16
Pour la page d'aide, devant être conforme / traduisant le cahier des charges en terme d'usages :
Voir dans le ticket #14 ici : https://github.com/jimlab/jimlab/issues/14#issuecomment-300754759

[2017-05-17 16:33] sgougeon commented on #16
Mes remarques concernant le code existant de jimsmooth() sont incluses au PDF joint.
J'examinerai le code de jimsmooth_mask() à part.
[jimsmooth.sci_170517.pdf](https://github.com/jimlab/jimlab/files/1008452/jimsmooth.sci_170517.pdf)

SVP écrire des tests pour les différentes syntaxes de jimsmooth(). Cela facilitera vos développements.

[2017-05-18 12:03] Camtarrr opened #24 "Syntaxes pour la fonction interne jimstandard()"
##  Proposition de syntaxes

[code]
## Définition des arguments

imageMat :
- Une hypermatrice d'entiers 8 bits (uint8 ou int8) à 4 couches dont les couleurs sont encodées en RGBA
- Une hypermatrice d'entiers 8 bits (uint8 ou int8) à 4 couches dont les couleurs sont encodées en ARGB
- Une hypermatrice d'entiers 8 bits (uint8 ou int8) à 3 couches dont les couleurs sont encodées en RGB
- Une matrice

[2017-05-18 12:59] Camtarrr opened #25 "Syntaxes de la fonction jimconvert()"
## Proposition de syntaxes

convertedImage = jimconvert(image, encoding);
convertedImage = jimconvert(image, encoding, colormap);
convertedImage = jimconvert(image, encoding, argb?);
convertedImage = jimconvert(image, encoding, colorsBits);
convertedImage = jimconvert(image, encoding, argb?, transparencyColor);
convertedImage = jimconvert(image, encoding, colorsBits, transparencyColor);
convertedI

[2017-05-18 13:18] Camtarrr opened #26 "Syntaxes de la fonction jimhistEqual()"
## Proposition de syntaxes

equalizedImage = jimhistEqual(image);
equalizedImage = jimhistEqual(image, colormap);
equalizedImage = jimhistEqual(image, argb?);
equalizedImage = jimhistEqual(image, colorsBits);
equalizedImage = jimhistEqual(image, argb?, transparencyColor);
equalizedImage = jimhistEqual(image, colorsBits, transparencyColor);

## Description des arguments

image :
- Une hypermatrice

[2017-05-18 14:47] sgougeon commented on #26
À lire vos différents tickets, et en particulier celui-ci pour une fonction vraiment applicative, il devient évident que **jimstandard() doit devenir publique**.
En effet, avoir à ajouter toutes ces options pour chacune des fonctions "de traitement réel" du module n'est pas envisageable / souhaitable / ergonomique. Charge à l'utilisateur de standardiser explicitement l'entrée avant d'appeler la fo

[2017-05-18 15:04] Camtarrr commented on #26
C'est noté pour la fonction jimstandard(). Cela rendra plus compréhensible les syntaxes de nos fonctions.

Je voulais juste dire que Matplot() ne prend pas en charge le cas "4444" où le canal alpha est encodé sur les 4 premiers bits. `gce().image_type` peut prendre la valeur "argb" ou la valeur "rgba444" mais pas les deux en même temps. En revanche cela ne nous empêche pas de gérer ce type de matr

[2017-05-18 20:00] sgougeon commented on #26
Je vous répondrai dans le ticket consacré à jimstandard()
Pour la page de _jimhistEqual_(), comme pour les pages des autres fonctions "applicatives" hors jimstandard() : la longue liste décrivant les formats et encodage d'images d'entrée doit clairement être plus concise et structurée. Proposition  :

- **en couleurs**
  - hypermatrice RGB ou RGBA d'entiers int8 ou uint8, ou de décimaux sur [0, 1]

[2017-05-18 20:55] sgougeon commented on #24
Oui

C'était bien la question (suite ci-dessous).

Il faudrait surtout pouvoir _cumuler_ `argb?` et `colorsBits`. C'est faisable sans difficulté (car la désambiguation est simple), mais pas du tout prioritaire, et voire même peut-être finalement inutile. Je préfère en rester là, sans cumul possible pour le moment. Si des utilisateurs tombent sur un format "4444" en "argb" au lieu de "rgba" et que

[2017-05-18 21:07] sgougeon commented on #25
Si non, j'attends vos commentaires.

Comme pour jimhistEqual() et les autres, l'image d'entrée doit être standard, ou ici une jimage. Donc les options arg?, colorsBits et colormap disparaissent. Si l'image d'entrée est une matrice ou une hypermatrice, jimstandard() lui est appliquée en interne. Au pire elle ne fait rien. Au mieux elle standardise avec les options par défaut. Si l'utilisateur fourn

[2017-05-19 07:37] JimSenee opened #27 "Utilisation de la fonction de création et d'édition d'objets jimage"
La fonction de création ou d’édition d’un objet jimage a été créée.
Sa page d’aide est disponible en français à ce lien : [Page d'aide jimage() (français)](https://github.com/jimlab/jimlab/blob/master/help/fr_FR/jimage.xml)

Avant toute chose, cette fonction s’appelle pour le moment `jimage2`. Sans le 2, chaque utilisation renvoie le warning `Attention : Redéfinition de la fonction : jimage`. Cela

[2017-05-19 11:05] Camtarrr commented on #26
127 en int8 correspond à 127 en uint8. Pour les nombres négatifs, -128 en int8 correspond à 128, -127 correspond à 129, etc. Cela fonctionne pareil pour les int16 et int32.
Au départ, j'avais implémenté la conversion en pensant que 127 en int8 correspondait à 255 en uint8 mais l'image obtenue ne correspondait pas à l'image affichée par Matplot().

[2017-05-19 11:22] Camtarrr commented on #26
- Dans le cas où l'image en entrée est une matrice d'entiers uint8 ou int8, l'encodage est considéré en niveau de gris par défaut.
- Un objet `jimage` est accepté en entrée.

J'apporte juste ces deux modifications à votre proposition de liste de formats.

[2017-05-19 12:04] sgougeon commented on #26
oui, c'est déjà inclus dans la ligne

En effet, j'ai omis de compléter votre proposition initiale sur ce point.

[2017-05-19 12:46] sgougeon commented on #27
En effet. Je vous invite à renommer toutes les variables `jimage` en `Jimage`.

Je réponds au reste dans un ou plusieurs messages à part.

[2017-05-19 13:46] Camtarrr commented on #26
J'aurais plutôt du dire : J'ai supprimé le cas

car il est interprété par défaut comme une image en niveaux de gris. Il faudra donc utiliser jimstandard() au préalable si l'image est encodée en "rgb332".

[2017-05-19 14:10] sgougeon commented on #26
Très juste. Je vous laisse ajuster dans le même sens la page de jimstandard() (ticket #24)

[2017-05-19 14:16] #26 closed, assigned to sgougeon, Camtarrr

[2017-05-19 19:18] sgougeon commented on #27
Sa page d’aide est disponible en français à ce lien : [Page d'aide jimage() (français)](https://github.com/jimlab/jimlab/blob/master/help/fr_FR/jimage.xml)

Modifications proposées :

- **Description courte** : Création d'un objet `jimage` à partir d'une matrice ou hypermatrice image.
  Remarque : on laisse de coté l'aspect modification. En effet,
   - `.title` peut être modifié directement : imag

[2017-05-22 22:26] JimAmel commented on #16
le ralentissement de la fonction etait due à la fonction "cat" .elle fonctionne à présent

[2017-05-22 22:26] JimAmel commented on #14
page d'aide modifiée

[2017-05-23 01:17] sgougeon commented on #14
Vous avez corrigé le pb. de chaine dans le programlisting, mais pas dans la génération de l'image.
Après correction, l'exemple montre l'apparition d'un contour noir 👍
![image](https://cloud.githubusercontent.com/assets/5930727/26334503/cc58440e-3f65-11e7-9925-d3c7ef0a02d4.png)
Cela ne convient pas (au niveau du code). Voir l'option `shape` de `conv2()`. Le résultat doit avoir les mêmes dimensions

[2017-05-23 01:20] sgougeon commented on #16
oui. Elle était inutile. Ceci dit, ce ralentissement paraissait anormal. Je verrai s'il y a lieu de poster un rapport de bug sur Bugzilla.
Une fois le code débogué, SVP supprimer les disp().

[2017-05-23 01:25] sgougeon commented on #14
[code]

[2017-05-23 08:27] JimAmel commented on #16
Image d'origine et image modifiée de même taille.ET les disp() supprimés.

[2017-05-23 16:12] JimAmel opened #28 "lecture page d'aide jimpixelise"
https://github.com/jimlab/jimlab/blob/master/help/fr_FR/jimpixeilse.xml

[2017-05-23 17:30] sgougeon commented on #28
- le xml:id est incorrect et casse la construction des pages.
- la page ne se construit pas, même en corrigeant e xml:id
- il y a de nombreuses occurrences de jimsmooth(), non pertinentes

Nom : en anglais, `pixelize` s'écrit avec un z.
Syntaxes  :  ` impixeled= jimpixelise(Image, boxSize)`
avec `boxSize` soit scalaire (un seul nombre) => box carrée ; soit vecteur à 2 composantes [picHeigth,picWid

[2017-05-23 18:29] #25 closed, assigned to Camtarrr

[2017-05-23 19:00] JimAmel commented on #28
page d'aide modifiée

[2017-05-26 10:54] #24 closed, assigned to Camtarrr

[2017-05-26 13:06] sgougeon commented on #27
C'est maintenant fait. En outre, jimage2() est maintenant renommée jimage(). Vous pouvez donc désormais l'utiliser dans le code sans risque de conflits.

[2017-05-26 13:06] JimAmel opened #29 "fonction jimpixelized.sci modification seulement à la troisiéme couche"
https://github.com/jimlab/jimlab/blob/master/macros/jimpixelized.sci

[2017-05-26 13:23] JimSenee commented on #27
Vous m'avez devancé sur ce point, je vous en remercie.
Les autres modifications de la fonction sont en cours de réalisation.

[2017-05-26 16:07] sgougeon commented on #29
3 principales remarques :

- le nom de la fonction est toujours incorrect
- varagin => varargin
- l'algorithme peut et doit être vectorisé, pour supprimer toutes les boucles `for` sur les lignes et les colonnes

[2017-05-26 18:06] sgougeon opened #30 "jimhistEqual() : étendre aux images en couleur"
L'exemple de Léna disponible est assez convaincant en équalisant l'histogramme de chacune des couches RGB :
![image](https://cloud.githubusercontent.com/assets/5930727/26506995/b675c1b6-424e-11e7-9e4a-b6d6969130cf.png)

[2017-05-28 15:33] #2 closed, assigned to Camtarrr

[2017-05-29 08:52] sgougeon commented on #12
La version étendue d'edit_curv() était disponible sur le H:\. Je viens de la charger sur git.
Elle réside dans le dossier macros/overload. Les modifications sont documentées en commentaires d'en-tête dans le code.
Comme indiqué lors du commit, bien que non définitive, cette version est utilisable en l'état. Il manque essentiellement la possibilité de régler les propriétés du trait du polygone (sty

[2017-06-01 08:08] sgougeon opened #31 "jimconvert : argument encoding non vérifié"
[code]
produit l'erreur
[code]

La vérification doit se faire en amont, donnant lieu à un message d'erreur + explicite

[2017-06-01 08:17] sgougeon opened #32 "jimconvert : gray => gray ne devrait pas produire d'erreur"
Lorsqu'on essaie de convertir en gray une image déjà en gray, une erreur se produit. La fonction devrait simplement retourner la jimage d'entrée sans rien faire, _au plus_ en émettant un warning.
Comportement à vérifier aussi si tentative de conversion rgb => rgb ou rgba => rgba.

[code]

[2017-06-01 15:25] #31 closed, assigned to Camtarrr

[2017-06-01 15:28] #12 closed, assigned to JimSenee

[2017-06-01 15:33] #32 closed, assigned to Camtarrr

[2017-06-01 15:44] JimSenee opened #33 "edit_curv() : coordonnées négatives"
La version étendue d'edit_curv() est bien fonctionnelle.
J'ai cependant remarqué un détail qui devrait être corrigé : il est possible de sélectionner un point de coordonnées négatives, ce qui n'est pas opportun pour l'utilisation que l'on souhaite en faire.

[2017-06-01 16:02] Camtarrr opened #34 "Illustation de l'utilisation de l'argument transparencyColor dans le fonction jimhistEqual()"
L'image ci-dessous montre :

- en haut à gauche, l'image originale `Image`,
- en haut à droite, l'image après égalisation d'histogramme sans avoir renseigné l'argument `transparencyColor` obtenue par la syntaxe `equalizedImage = jimhistEqual(Image)`,
- en bas à gauche, l'image après égalisation d'histogramme en ayant renseigné le blanc comme couleur de transparence : `equalizedImage = jimhistEqual

[2017-06-01 19:44] sgougeon commented on #33
Il n'est désormais plus possible de créer un point hors du cadre du repère graphique.
Par ailleurs, une pression sur DEL sans sélection préalable d'un point ne crée plus de point.

[2017-06-01 19:44] #33 closed, assigned to sgougeon

[2017-06-01 20:43] JimSenee commented on #27
Les modifications ont été effectuées.
Quelques observations avec du recul (pour être certain que nous allions dans le même sens) :

• Les champs `.mime` et `.title` sont mis à leur valeur par défaut : ‘user’ et ‘unknown’. Ils n’ont pas vocation à être modifiés par `jimage()` et sont purement informatifs.
Ils pourront par la suite être modifiés par l’utilisateur via la console simplement, et pourqu

[2017-06-01 21:57] sgougeon commented on #34
Je comprends mieux : vous excluez la couleur de transparence car vous l'assimilez à la couleur de fond (ce qui est raisonnable) et vous supposez qu'une fraction importante des pixels sont concernés. En la traitant sans égard particulier, l'égalisation vide  / empêche le peuplement des niveaux d'intensité d'un large voisinage du niveau transparent (translaté), ce qui peut confiner les autres niveau

[2017-06-02 11:06] Camtarrr commented on #34
C'est noté ! La page d'aide va être modifiée rapidement.
En ce qui concerne les points suivants, je les traiterais après l'issue du projet si cela vous convient.

[2017-06-02 13:09] Camtarrr commented on #34
Les pages d'aides en anglais et en français ont été modifiées.

[2017-06-02 13:09] #34 closed, assigned to Camtarrr

[2017-06-03 08:46] JimSenee opened #35 "Relecture de la page d'aide de jimroi()"
La page d'aide de jimroi() a été finalisée et actualisée suite aux derniers changements de la fonction.
Elle est disponible en français à ce lien : [Page d'aide jimroi() (FR)](https://github.com/jimlab/jimlab/blob/master/help/fr_FR/jimroi.xml)

En attente d'une relecture avant de finaliser la traduction en anglais.

[2017-06-03 17:14] JimSenee commented on #3
Le test fonctionne sous MacOS sur les deux versions de Scilab.
L'erreur venant de `grayplot()` n'était plus indiquée, mais l'appel de l'URL par `jimread()` posait problème en 5.5.2. L'appel de l'URL fonctionnait bien sur 6.0.
J'ai donc rajouté un test de version et d'OS dans le test, pour cibler la condition [MacOS + Scilab 5.5.2] et éviter cet appel. Est-ce une solution viable ?

Le test est disp

[2017-06-03 21:05] JimSenee commented on #23
La page d'aide a été modifiée selon vos remarques.

[2017-06-03 21:05] #23 closed, assigned to nicojim

[2017-06-05 01:22] JimAmel commented on #29
une première ébauche pour la fonction jimpixelize elle fonctionne .il manque la supression des boubles for.vous pourrez regardez.voici le lien https://github.com/jimlab/jimlab/blob/master/macros/jimpixelized.sci.

[2017-06-05 02:17] JimAmel opened #36 "Probléme Padding jimsmooth"
Monsieur ,  j'ai rajouté les éléments dans la matrice en fonction de la largeur  du masque mais les effets de bords sont toujours présents.
voici le lien : https://github.com/jimlab/jimlab/blob/master/macros/jimsmooth.sci

[2017-06-05 19:31] sgougeon commented on #35
Merci. Voici ci-joint mes nouvelles remarques. Il est nécessaire de simplifier les syntaxes.
Si, dans le code, l'analyse des arguments d'entrée pose une difficulté, n'hésitez pas à revenir vers moi.

[jimroi_Help_170605.pdf](https://github.com/jimlab/jimlab/files/1052967/jimroi_Help_170605.pdf)

[2017-06-05 20:02] sgougeon commented on #28
Merci. Ci-joint mes dernières remarques concernant la page (le code des exemples fonctionne bien !).

[jimpixelize_Help_170605.pdf](https://github.com/jimlab/jimlab/files/1053043/jimpixelize_Help_170605.pdf)

[2017-06-05 20:20] sgougeon commented on #29
Je viens de compiler et faire tourner avec succès la fonction pour les exemples de la page d'aide.
Par ailleurs, j'ai vu que vous avez créé un test. Quelques remarques :

- pour le code : standardiser l'en-tête. L'en-tête utilisé pour le test unitaire est le standard
- pour le test unitaire :
  - ajouter la balise <-- INTERACTIVE TEST --> // PROVISOIRE. Automatisation à venir.
  - tester le cas (i

[2017-06-05 20:50] sgougeon commented on #36
Quelques remarques concernant ce code :

- vous n'exploitez pas du tout la vectorisation du langage. Vous programmez en Scilab comme s'il s'agissait d'un langage de bas niveau comme le C, alors qu'il s'agit d'un langage interprété, donc plus lent (si la vectorisation --prévue pour être ergonomique -- n'est pas utilisée).
Par exemple, les lignes suivantes (#144 - 149)
[code]
peuvent se résumer simp

[2017-06-05 21:08] sgougeon commented on #27
Je réponds au détail :

Il faut être le plus sobre possible : "" et "" convient mieux.

Outre la création de la mlist r = mlist(["jimage" "image"], jimstandard(image)),  renseigner ces champs à la création de la jimage est pourtant quasiment le seul intérêt de jimage() par rapport à jimstandard()...
Pour le moment, vu en effet le faible intérêt de ces champs, restons-en là.

Oui. C'est probablemen

[2017-06-06 09:55] nicojim commented on #4
Traité grâce à jimstandard

[2017-06-06 09:56] nicojim commented on #7
Page terminé

[2017-06-06 09:56] #7 closed, assigned to nicojim

[2017-06-06 09:58] Camtarrr commented on #4
Jimstandard() ne résout pas le problème du type en sortie, si ?
Avec gaël, on pensait créer un fonction faisant la conversion inverse.

[2017-06-06 10:07] nicojim commented on #4
Oui =, j'avais mal relus le problème du ticket

[2017-06-06 13:24] sgougeon commented on #4
Pouvez-vous préciser de quel problème il s'agit ? S'il n'est pas propre à jiminvert(), préférer l'ouverture d'un nouveau ticket.

[2017-06-06 13:28] Camtarrr commented on #4
La dernière partie de cette remarque n'est toujours pas traitée.

[2017-06-06 13:42] sgougeon opened #37 "jimdisp() : par défaut, une matrice simple doit être interprétée et affichée en niveaux de gris"
Actuellement, jimdisp() recevant une matrice simple de décimaux entre 0 et 255 les utilise comme s'il s'agissait de numéros de couleurs. Cela ne convient pas : par défaut, une matrice de décimaux sur [0 1] ou d'entiers ou de décimaux sur [0 255] doit être interprétée comme des niveaux de gris.
Pour interpréter une telle entrée en numéros de couleurs, une option "cm" ou "colormap" (on peut accepter

[2017-06-06 14:00] sgougeon opened #38 "%jimage_size.sci va dans overload, non dans macros"

[2017-06-06 14:12] sgougeon commented on #4
?
Le code sur Git est OK : la condition >= est OK, et invert travaille comme attendu :
`    elseif((typeof(image) == "hypermat")|(ndims(image) >= 2)) // Testing aruments's type`

[2017-06-06 14:15] Camtarrr commented on #4
Le type de l'image en sortie est toujours uint8, il ne correspond pas au type de l'image d'entrée.

[2017-06-06 14:39] sgougeon commented on #4
En quoi est-ce gênant ?

[2017-06-06 14:55] Camtarrr commented on #4
Selon votre commentaire en ligne 22 de votre correction d'un ancien commit de jiminvert() [jiminvert.sci_1703162000.pdf](https://github.com/jimlab/jimlab/files/848880/jiminvert.sci_1703162000.pdf) :

Si ce n'est plus un problème, le ticket peut être fermé.

[2017-06-06 15:58] Camtarrr commented on #38
C'est réglé.

[2017-06-06 15:58] #38 closed, assigned to nobody

[2017-06-06 15:58] #4 closed, assigned to nicojim

[2017-06-06 16:00] sgougeon commented on #3
Pour l'URL :
-  Essayer avec une image sur une URL non sécurisée (http://)
- Si toujours requis : refuser sur les 3 versions 5.5.x : msprintf("%d.%d",getversion("scilab"))=="5.5".
  appeler getos()

Pour grayplot qui passe : je ne sais pas. Sous windows, l'erreur se produit encore :(

[2017-06-06 17:05] sgougeon opened #39 "jimconvert(): implémenter les conversions gray=>RGB, gray=>RGBA et RGB=>RGBA"
Ces conversions "promotions" ne sont actuellement pas disponibles. Elles peuvent pourtant être requises.
Exemples d'usage :

- Coloriser certaines parties d'une image de base en gray en utilisant un masque logique.
- A partir d'une image gray ou RGB, ajouter une couche alpha pour ajouter des effets de transparence progressive.

[2017-06-06 19:27] JimAmel commented on #36
:Elimination boucle et cadre supprimé.

[2017-06-07 14:35] sgougeon commented on #36
Le code est très largement simplifiable -- on devrait pouvoir s'en sortir en une centaine de lignes, au lieu de 370 actuellement, en gagnant aussi en lisibilité -- , mais cela  fonctionne en l'état.

Par ailleurs, la stratégie de padding en miroir que nous avons adoptée présente l'inconvénient de pouvoir faire apparaitre des "fantômes" aux bords. Ce n'est pas très gênant (tant que le masque n'est

[2017-06-07 14:35] #36 closed, assigned to sgougeon, JimAmel

[2017-06-08 12:17] Camtarrr commented on #39
Dans le cas de la conversion en RGBA, faut-il proposer comme argument optionnel une matrice (acceptée par jimstadard()) correspondant au canal alpha ?
La syntaxe ne serait pas plus lourde car on peut facilement différencier cette matrice de l'argument transparencyColor.

Le Git devant être archivé, je peux mettre jimconvert() à jour seulement sur le H:\ si vous voulez y avoir accès.

[2017-06-08 12:55] sgougeon commented on #39
Ce n'est pas si simple, car on peut vouloir aussi traduire le champ .transparencyColor sur la couche alpha créée. Il ne faut pas avoir de syntaxe mettant en concurrence .TC et alpha.
Pour garder une page lisible, on peut nommer l'arg #3 de manière plus générale, par exemple "transparency".
Il y a alors 3 possibilités (pour => RGBA) :
-  c'est un niveau g de gris. La alpha est ones(n,n) excepté pou

[2017-06-08 12:58] sgougeon commented on #39
Pouvez-vous SVP vous assigner le ticket si vous le prenez en charge ?

[2017-06-08 18:22] JimSenee commented on #37
`jimstandard()` n'est actuellement pas appelée par `jimdisp()`. On remarque bien la bonne interprétation après le passage par `jiminvert()` (qui appelle `jimstandard() `en interne).
Doit on alors simplement rajouter l'appel de `jimstandard() `dans le cas où l'image en entrée n'est pas un objet jimage, ou souhaitez-vous tout de même ajouter l'argument donnant le colormap ?

[2017-06-09 08:17] sgougeon commented on #37
Il faut en premier lieu y remédier.
Puis il faut juste pouvoir dire à jimdisp() d'utiliser la colormap courante de la fenêtre cible.
Prévoir le passage d'une colormap alternative sera peu utile. Ca peut être fait en une demi-ligne `gcf().color_map = ..` avant ou après l'affichage, dans les cas rares où ce serait utile.

[2017-06-09 14:00] Camtarrr opened #40 "jimconvert() : cas particulier de conversion RGBA => Gray"
Dans le cas d'une conversion RGBA=>Gray (même problématique pour RGBA=>RGB) avec un objet jimage et une couleur de transparence en entrée, si le canal alpha vaut 1 pour tous les pixels, il y a deux possibilités :

- conserver `Jimage.transparencyColor`

- appliquer la valeur de la couleur de transparence en entrée à `Jimage.transparencyColor`.

Dans les deux cas, l'image en sortie est la même. Je

[2017-06-15 20:27] JimSenee commented on #35
(GitHub a été plus rapide que moi visiblement !)

J'ai tenu compte des remarques et ai mis à jour la page d'aide. La fonction a alors dû être modifiée pour suivre cette mise à jour.

Si la page d'aide est maintenant correcte, je fermerai le ticket et finirai sa traduction en anglais.

[2017-06-16 05:53] JimSenee commented on #37
L’appel à `jimstandard()` a été ajouté et l’affichage se fait correctement.
Cependant je ne comprend toujours pas cette histoire de colormap.

La colormap de la fenêtre cible n’est pas celle que l’on veut : par défaut il s’agit d’une colormap de 32 couleurs, d’où le premier affichage faussé.

On peut obtenir le bon affichage en la changeant via la commande :
[code]

Cela pourrait apparaître dans l

[2017-06-20 19:22] JimSenee commented on #35
Pages d'aide en français et anglais mises à jour.

[2017-06-20 19:22] #35 closed, assigned to sgougeon

[2017-06-20 19:35] JimSenee commented on #37
Après clarification aujourd'hui, les modifications sont faites. Cela sera à adapter dans votre version du 0.2 qui sera postée d'ici peu.

[2017-06-20 19:35] #37 closed, assigned to JimSenee

[2017-06-20 19:47] JimSenee commented on #3
L'erreur n'apparaît plus sur nos machines en 5.5.2 et 6.0 (vérifié sous MacOS et Windows), le test de version et d'OS a donc été retiré. De plus l'URL a été changé vers un URL non sécurisé.

[2017-06-20 19:47] #3 closed, assigned to JimSenee

[2017-06-20 21:01] sgougeon commented on #40
Comme évoqué lors de notre dernière réunion : l'option transparency doit être fournie et acceptée uniquement lorsqu'elle est requise, ce qui n'est pas le cas ici.
La fonction de jimconvert() n'est pas de modifier la valeur de .transparencyColor lorsque l'image est une jimage et dispose déjà de cette information.

[2017-06-20 21:32] JimSenee commented on #27
Changements effectués.
Le champ `.encoding` n'est pas modifiable par l'utilisateur. Il teste toujours le nombre de couches, ce qui sera à adapter après l'ajout potentiel de `jimtype()`.

[2017-06-20 21:32] #27 closed, assigned to JimSenee